h1{
    color: blue;
}
img {
    width: 200px

}
#thirdDiv{
    height: 600px;
    width: 400px;
    background-color: black;
}
#spanId{
    font-size: 20px;
    margin: 50px;
}
.divClass{
    padding: 50px;
    border: 2px solid red
}